{% extends 'layouts/a.html' %}

{% block content %}
    <section class="mb-8">
        <h2 class="text-3xl font-bold mb-4">100 Rats<h2>
        <p class="text-gray-600">Dungeons & Dragons combat simulator. Create your monsters, your PCs and Ally NPCs, then simulate your encounters.</p>
    </section>

    <section class="mb-8">
        <h2 class="text-2xl font-bold mb-4">Featured Monsters Section</h2>
        <!-- Add some featured monsters or content here -->
        <!-- TODO: -->
        <div class="flex space-x-4">
            <div class="flex-shrink-0 w-20 h-20 bg-gray-200"></div>
            <div class="flex-grow">
                <h3 class="text-xl font-bold mb-2">Ancient White Dragon</h3>
                <p class="text-gray-600">A powerful and fearsome creature, capable of freezing its enemies with its icy breath.</p>
            </div>
        </div>
        <!-- Add more featured monsters as needed, TODO: use htmx automation -->
    </section>

    <section>
        <h2 class="text-2xl font-bold mb-4">Latest Campaigns</h2>
        <!-- Add some information about the latest campaigns or events -->
        <!-- Example: -->
        <div class="flex space-x-4">
            <div class="flex-shrink-0 w-20 h-20 bg-gray-200"></div>
            <div class="flex-grow">
                <h3 class="text-xl font-bold mb-2">Campaign 1</h3>
                <p class="text-gray-600">campaign 1 desc here.</p>
            </div>
        </div>
        <!-- Add more campaigns or events as needed -->
    </section>
    
    <section>
        <h2 class="text-2xl font-bold mb-4">Close Encounters</h2>
        <!-- Add some information about the latest campaigns or events -->
        <!-- Example: -->
        <div class="flex space-x-4">
            <div class="flex-shrink-0 w-20 h-20 bg-gray-200"></div>
            <div class="flex-grow">
                <h3 class="text-xl font-bold mb-2">Encounter 1</h3>
                <p class="text-gray-600">encounter desc here</p>
            </div>
        </div>
        <!-- Add more campaigns or events as needed -->
    </section>
{% endblock %}
