<form id="manual-form" style="display: none;">
    <h2 class="font1 text-center text-2xl mb-4">Manual Input</h2>    
    <form method='POST'>
        <p>
            <label>Monster Name:</label>
            <input required="" >
        </p>
        <p>
            <label for="id_title">Title:</label>
            <input required="" >
        </p>
        <p>
            <label for="id_artist">Artist:</label>
            <input required="" >
        </p>
        <button type="submit" class="mt-1">Create Monster</button>
        <a class="button secondaryAction ml-1" href="">Cancel</a>
    </form>
</div>
  </form>
  